parameters:
  level: 5
  treatPhpDocTypesAsCertain: true
  paths:
    - SovendusApp
  bootstrapFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
  
  # Load Magento stubs from the installed package.
  scanFiles:
    - %currentWorkingDirectory%/vendor/magento/magento2-stubs/magento.stub.php

  excludePaths:
    - vendor/*