<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sovendus_settings>
			<general_settings>
				<json_config>
				</json_config>
			</general_settings>
		</sovendus_settings>
	</default>
</config>
