<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sovendusvouchernetwork>
            <de_settings>
                <de_enable>0</de_enable>
            </de_settings>
            <at_settings>
                <at_enable>0</at_enable>
            </at_settings>
            <nl_settings>
                <nl_enable>0</nl_enable>
            </nl_settings>
            <ch_settings>
                <ch_enable>0</ch_enable>
            </ch_settings>
            <fr_settings>
                <fr_enable>0</fr_enable>
            </fr_settings>
            <it_settings>
                <it_enable>0</it_enable>
            </it_settings>
            <ie_settings>
                <ie_enable>0</ie_enable>
            </ie_settings>
            <uk_settings>
                <uk_enable>0</uk_enable>
            </uk_settings>
            <dk_settings>
                <dk_enable>0</dk_enable>
            </dk_settings>
            <se_settings>
                <se_enable>0</se_enable>
            </se_settings>
            <es_settings>
                <es_enable>0</es_enable>
            </es_settings>
            <be_settings>
                <be_enable>0</be_enable>
            </be_settings>
            <pl_settings>
                <pl_enable>0</pl_enable>
            </pl_settings>
        </sovendusvouchernetwork>
    </default>
</config>
