parameters:
  level: 5
  treatPhpDocTypesAsCertain: true
  paths:
    - .
  bootstrapFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
  
  # Use bitexpert/phpstan-magento stubs
  scanFiles:
    - %currentWorkingDirectory%/vendor/bitexpert/phpstan-magento/stubs/Magento/Framework.stub
    - %currentWorkingDirectory%/vendor/bitexpert/phpstan-magento/stubs/Magento/Store.stub
    - %currentWorkingDirectory%/vendor/bitexpert/phpstan-magento/stubs/Magento/Config.stub

  excludePaths:
    - vendor/*