parameters:
  level: 5
  treatPhpDocTypesAsCertain: true
  paths:
    - .
  bootstrapFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
  
  # Use alternative path for Magento stubs.
  scanFiles:
    - %currentWorkingDirectory%/vendor/magento/magento2-functional-testing-framework/_files/Magento.php

  excludePaths:
    - vendor/*