parameters:
  level: 5
  treatPhpDocTypesAsCertain: true
  paths:
    - .
  bootstrapFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
  
  scanFiles:
    - %currentWorkingDirectory%/stubs/magento.stub.php

  excludePaths:
    - vendor/*